<div class="control-group field-groupIdList">
	<label class="control-label" for="c13_group">Group *</label>
    <div class="controls controls-row">                        
        <span class="tags" id="tags-editable-1" data-toggle="manual" data-type="select2" 
            data-value="{{groupId}}" data-original-title="Enter Group Name">
        </span>
       	<a href="#" id="tags-edit-1" data-editable="tags-editable-1" class="link-tag" style="margin-left:-37px;">
       		{{#if isModelNew}}
       			<i class="icon-plus" title="Add"></i>
       		{{else}}
       			<i class="icon-pencil" title="Edit"></i>
       		{{/if}}	
       	</a>
       	<div class="help-inline" data-error="groupIdList" style="display:none;margin-bottom: 6px;padding-left: 2%;">Please add group.</div>
    </div>
</div>