{{!
{
"name" : "BreadCrumb "
}
}}

<!-- <ul class="breadcrumb-flat">
	{{#each breadcrumb}}
	{{#if this.isLast}}
	<li>
		a href="javascript:;" style="cursor:default; text-decoration: none;color: none;">{{tt this.text}}</a<i class="{{this.iconClass}}"></i>{{tt this.text}}
	</li>
	li><i class="{{this.iconClass}}"></i><a href="{{this.href}}">{{tt this.text}}</a></li
	{{else}}
	<li>
		<a href="{{this.href}}"> {{tt this.text}} </a>
	</li>
	{{/if}}
	{{/each}}
</ul>
 -->
 
 <ul class="breadcrumb-flat">
	{{#each breadcrumb}}
	<li>
		<a href="{{./this.href}}"> {{tt ./this.text}} </a>
	</li>
	{{/each}}
</ul>
 