{{!empty FooterTmpl template}}
<div id="main-footer">
	<div class="pull-left copy-right-text">
			<p class="text-left">
				<a target="_blank" href="http://incubator.apache.org/projects/argus.html">{{tt 'h.licenceText'}}</a>
			</p>
			<p class="text-left">
				<a target="_blank" href="copyrightPluginList.html">{{tt 'h.listOfPlugins'}}</a>
			</p>
	</div>
	<div class="pull-right">
		<ul class="nav nav-footer">
			<!-- <li class="active">
				<a href="http://xasecure.com">About</a>
			</li>

			<li>
				<a href="http://xasecure.com">Contact</a>
			</li>

			<li>
				<a href="http://xasecure.com" >Privacy</a>
			</li>
			<li>
				<a href="http://xasecure.com">Blog</a>
			</li> -->
		</ul>
	</div>
</div>