{{!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}
<div class="nav-collapse collapse" >
	<ul class="nav pull-right">
		<li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle usermenu _allowNav" data-toggle="dropdown" > <img alt="Avatar" src="images/avatar.png">
				<span>{{userProfile.attributes.loginId}}</span> </a>
				
			<ul class="dropdown-menu">
				<li>
					<a href="#!/userprofile" > <i class="icon-male"></i>Profile </a>
				</li>
				<li>
					<a href="javascript:;" class="_allowNav" data-id="logout"> <i class="icon-off"></i>Log Out </a>
				</li>
				<li>
					{{#if oldUi}}
						<a href="javascript:;" data-id="oldNewSwitch" data-value="true"> <i class="icon-signout"></i>Switch to classic UI</a>
					{{else}}
						<a href="javascript:;" data-id="oldNewSwitch" data-value="false"> <i class="icon-signout"></i> Switch to latest UI </a>
					{{/if}}
				</li>
			</ul>
		</li>
	</ul>
</div>
