{{!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}
{{#if showImportExportBtn}}
	<button type="button" title="Export" class=" btn btn-small btn-right" data-id="exportBtn"> <i class="icon-external-link-sign"></i>
	 Export
	</button>
	<button type="button" title="Import" class="btn btn-success btn btn-small btn-right" data-id="importBtn" > <i class="icon-rotate-180 icon-external-link-sign"></i>
	 Import
	</button>
{{/if}}
<h3 class="wrap-header bold">{{tt 'h.serviceManager'}}</h3>

<div class="wrap non-collapsible policy-manager">
	<div class="row-fluid">
	{{#each serviceDefs}}
		<div class="span4">
			<div class="position-relative">
				<table class="table table-bordered table-striped">
					<!-- table-policy -->
					<thead>
						<tr>
							<th>
								<span class="policy-title">
                                                                <!-- Remove alt attribut from img tag -->
                                   <span>
                                                                                <img src="images/folder-grey.png">
                                                                                {{./this.attributes.name}}
                                                                        </span>
									{{#if ../operation}} 
                                                                        <span>
                                                                          <a href="javascript:void(0)" title="Export" type="button" class="download  pull-right text-decoration" data-id="downloadBtnOnService" data-servicetype="{{./this.attributes.name}}" style="margin-right: 5px;" >
                                          <i class="icon-external-link-sign"> </i>
	                                   </a>
	                                   
                                           <a href="javascript:void(0)" title="Import"  data-id="uploadBtnOnServices" data-servicetype="{{./this.attributes.name}}" class=" btn-right importbtn text-decoration">
									    <i class="icon-rotate-180 icon-external-link-sign"> </i>
									   </a>
									   
                                                                           <a href="#!/service/{{./this.id}}/create"class="pull-right text-decoration" title="Add New Service" style="margin-right: 2px;"> <i class="icon-plus"></i></a>
                                    </span>
									 
									{{/if}}
								</span>	
							</th>
						</tr>
					</thead>
					<tbody>
						{{{getServices ../services this}}}
					</tbody>
				</table>
				<div data-id="r_tableSpinner" class="loading">
				</div>
			</div>
		</div>
		{{/each}}
		</div>
	</div>	
