{{!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}
<div class="nav-collapse collapse" >
    <ul class="nav page-nav" >
        {{#if setOldUi}}
            <li class="active dropdown">
                <a href="javascript:;" id="nav2"><i class="icon-shield"></i>Access Manager</a>
                <ul class="dropdown-menu">
                    {{#hasAccessToTab 'Resource Based Policies'}}
                        <li><a href="#!/policymanager/resource"><i class="icon-file"></i>Resource Based Policies</a></li>
                    {{/hasAccessToTab}}
                    {{#hasAccessToTab 'Tag Based Policies'}}
                        <li><a href="#!/policymanager/tag"><i class="icon-tags"></i>Tag Based Policies</a></li>
                    {{/hasAccessToTab}}
                    {{#hasAccessToTab 'Reports'}}
                        <li><a href="#!/reports/userAccess"><i class="icon-beaker"></i>Reports</a></li>
                    {{/hasAccessToTab}}
                </ul>
            </li>
            {{#hasAccessToTab  'Audit'}}
                <li>
                    <a href="#!/reports/audit/bigData" id="nav3"><i class=" icon-file-alt"></i> {{tt 'h.audit'}} </a>
                </li>
            {{/hasAccessToTab}}
            <li class="dropdown">
                <a href="javascript:;" id="nav4"><i class="icon-lock"></i> {{tt 'h.encryption'}} </a>
                <ul class="dropdown-menu">
                    {{#hasAccessToTab  'Key Manager'}}
                        <li><a href="#!/kms/keys/new/manage/service"><i class="icon-key"></i>Key Manager </a></li>
                    {{/hasAccessToTab}}
                </ul>
            </li>
            {{^hideSecurityZoneTab}}
                <li>
                    <a href="#!/zones/zone/list" id="nav6">
                        <span class="icon-stack zone-icon">
                            <i class="icon-check-empty icon-stack-base"></i>
                            <i class="icon-bolt"></i>
                        </span>{{tt 'h.securityZone'}}
                    </a>
                </li>
            {{/hideSecurityZoneTab}}
            <li class="dropdown">
                <a href="javascript:;" id="nav5"><i class="icon-gear"></i> {{tt 'h.settings'}} </a>
                <ul class="dropdown-menu">
                    {{#hasAccessToTab  'Users/Groups'}}
                        <li><a href="#!/users/usertab"><i class="icon-group"></i>{{tt 'h.usersOrGroupsOrRoles'}}</a></li>
                    {{/hasAccessToTab}}	
                    {{#if showPermissionTab}}
                        <li><a href="#!/permissions/models"><i class="icon-file-alt"></i> {{tt 'h.permissions'}}</a></li>
                    {{/if}}
                </ul>
            </li>
        {{else}}
            {{#hasAccessToTab 'Resource Based Policies'}}
                <li class="active">
                    <a href="#!/policymanager/resource" id="nav1"><i class="icon-shield"></i>Resource Policies</a>
                </li>
            {{/hasAccessToTab}}
            {{#hasAccessToTab 'Tag Based Policies'}}
                <li class="">
                    <a href="#!/policymanager/tag"><i class="icon-tags"></i>Tag Policies</a>
                </li>
            {{/hasAccessToTab}}
            {{#hasAccessToTab  'Audit'}}
                <li>
                    <a href="#!/reports/audit/bigData" id="nav3"><i class=" icon-file-alt"></i> {{tt 'h.audit'}} </a>
                </li>
            {{/hasAccessToTab}}
            <li class="dropdown">
                <a href="javascript:;" id="nav4"><i class="icon-lock"></i> {{tt 'h.encryption'}} </a>
                <ul class="dropdown-menu">
                    {{#hasAccessToTab  'Key Manager'}}
                        <li><a href="#!/kms/keys/new/manage/service"><i class="icon-key"></i>Key Manager </a></li>
                    {{/hasAccessToTab}}
                </ul>
            </li>
            {{^hideSecurityZoneTab}}
                <li>
                    <a href="#!/zones/zone/list" id="nav6">
                        <span class="icon-stack zone-icon">
                            <i class="icon-check-empty icon-stack-base"></i>
                            <i class="icon-bolt"></i>
                        </span>{{tt 'h.securityZone'}}
                    </a>
                </li>
            {{/hideSecurityZoneTab}}
            {{#hasAccessToTab  'Users/Groups'}}
                <li><a href="#!/users/usertab" id="nav5"><i class="icon-gear"></i> {{tt 'h.settings'}} </a></li>
            {{/hasAccessToTab}}
            {{#hasAccessToTab 'Reports'}}
                <li><a href="#!/reports/userAccess" id="nav8"><i class="icon-beaker"></i>Reports</a></li>
            {{/hasAccessToTab}}
        {{/if}}
	</ul>
</div>
