<td>
	<input  type="text" data-js="selectUsers" /> 	
</td>
{{#if policyKnox}}
<td>
	<input  type="text" data-js="ipAddress" placeholder="Enter IP address"/> 	
</td>
{{/if}}

{{#if policyStorm}}
<td>	
        <span class="tags" id="tags-editable-1" data-toggle="manual" data-type="checklist" 
            data-value="{{stormPerms}}" data-original-title="Select Actions">
        </span>
       	<a href="#" id="tags-edit-1" data-editable="tags-editable-1" class="" style="margin-left:10px;">
      		{{#if isModelNew}}
       			<i class="icon-plus" title="Add"></i>
       		{{else}}
       			<i class="icon-pencil" title="Edit"></i>
       		{{/if}}
       	</a>
</td>	
{{else}}
	{{#each permissions}}
		<td style="cursor:pointer;">
			<input data-id="{{./this.value}}" type="checkbox">
		</td>
	{{/each}}
{{/if}}	

<td>
	<button type="button" class="btn btn-small btn-danger " data-action="delete">
		<i class="icon-remove"></i>
	</button>
</td>

