*.class
*.iml
.settings/
.metadata
.classpath
.project
/target/
winpkg/target
agents-audit/.settings/
agents-common/.settings/
agents-cred/.settings/
hdfs-agent/.settings/
hive-agent/.settings/
knox-agent/.settings/
security-admin/.settings/
