apache-ranger==0.0.6
certifi==2024.7.4
charset-normalizer==2.1.0
cycler==0.11.0
fonttools==4.34.4
idna==3.7
Jinja2==3.1.4
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.5.3
numpy==1.23.1
packaging==21.3
pandas==1.4.3
Pillow==10.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2
requests==2.32.3
scipy==1.13.0
seaborn==0.11.2
six==1.16.0
urllib3==1.26.19
