annotated-types==0.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
docker==7.1.0
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
pluggy==1.5.0
pydantic==2.11.0
pydantic_core==2.33.0
pytest==8.3.5
pytest-html==4.1.1
pytest-metadata==3.1.1
python-on-whales==0.76.1
requests==2.32.3
typing-inspection==0.4.0
typing_extensions==4.13.0
urllib3==2.3.0
