<form class="form-horizontal" >
		<div class="" data-fields="name"></div>
		<div class="" data-fields="password"></div>
		<div class="" data-fields="passwordConfirm"></div>
		<div class="" data-fields="firstName"></div>
		<div class="" data-fields="lastName"></div>
		<div class="" data-fields="emailAddress"></div>
		<div class="" data-fields="userRoleList"></div>
		<div class="" data-customfields="groupIdList">
			<div class="control-group field-groupIdList">
				<label class="control-label" for="c13_group">Group *</label>
			    <div class="controls controls-row">
			    	<img src="images/loading.gif" style=" margin-left: 4%; margin-top: 1%;" />                        
			    </div>
			</div>
		</div>
</form>