{{!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}
<div class="wrap non-collapsible">
	<div class="span12">

		<legend>Account Info</legend>
		<div><a id="editDetail" class="pull-right" href="#!/accounts/{{this.id}}/edit">Edit</a></div> 


		<table id="dvDispDetail" class="table table-bordered table-striped">
			<tbody> 
				<tr>         
					<td width="40%">{{tt 'lbl.customerName'}}</td>
					<td>{{this.customerName}}</td>
				</tr>
				<tr>         
					<td>{{tt 'lbl.accountCode'}}</td>
					<td>{{this.accountCode}}</td>
				</tr>
				<tr>         
					<td>{{tt 'lbl.accountStatus'}}</td>
					{{#if_eq this.status compare='Enabled'}}
						<td>{{tt 'lbl.ActiveStatus_STATUS_ENABLED'}}</td>
					{{else}}
						<td>{{tt 'lbl.ActiveStatus_STATUS_DISABLED'}}</td>	
					{{/if_eq}}	
				</tr>  
			</tbody>
		</table>

	</div>
</div>

<!-- 
	<fieldset>

		<form style="display:none" id="frmAddAcc" class="form-horizontal">
			<label class="infoMsg">Fields marked as * are mandatory</label>
			<div class="control-group">
				<label class="control-label">Account Name  *</label>
				<div class="controls">
					<input class="validate[required]" id="inpCustName" type="text">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Account Status *</label>
				<div class="controls">
					select class="validate[required]" id="selActStatus" name="" id="">
						<option value="">Select</option> 
						
						<option value="1">Enabled</option>
						
						<option value="0">Disabled</option>
						
					</select
					<span>Enable </span>
					<input id="enabled" type="radio" class="validate[required]" name="status" title="Enabled" checked="checked">
					<span>Disable </span>
					<input id="disabled" type="radio" class="validate[required]" name="status" title="Disabled">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Support Corporate Authentication</label>
				<div class="controls">
					<input id="chkMail" type="checkbox">
				</div>
			</div>
			<div class="form-actions">
					<button id="btnSaveAcc" type="button" class="btn ">Save Account</button>
					<button id="btnCancel" type="button" class="btn">Cancel</button>
			</div>
		</form>
	</fieldset>
 -->
