{{!-- 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--}}
<h3 class="wrap-header bold">License Information:</h3>
<div class="well well-small ">
	<!-- <label style="color: white;padding: 5px;font-weight: 700;background: -webkit-linear-gradient(#4C89D6, #b8892d);background: -o-linear-gradient(#f7ec13, #b8892d);background: linear-gradient(#94BBEB, #2D75B8);">Policy Information</label> -->
	<div class="datagrid-stretch-wrapper " style="margin-left: 44px;margin-top: 35px;">
		<table class="table table-bordered table-license">
			<tbody>
				<tr >
					<td>License Text</td>
					<td>
					 
						<a href="javascript:void(0);" data-id="editLicenseKey" title="Update" class="pull-right link-tag"><i class="icon-pencil"></i></a>
						<p data-id="licenseKeyText">{{licenseKey}}</p>
						<div data-id="licenseUpdate" style="display:none;">
							<textarea data-id="licenseKeyTextarea"  type="text" style="height: 75px;width: 670px;" >
						{{licenseKey}}	
							</textarea>
							<button type="submit" data-id="update" class="btn " style="margin-left: -686px;margin-top: 128px;">Update</button>
							<button type="submit" data-id="cancel" class="btn btn-inverse" style="margin-top: 128px;">Cancel</button>
						</div>
					</td>
				</tr>
				<tr>
					<td >License Holder Email</td>
					<td data-id="email"> </td>
				</tr>
				<tr>
					<td>License Type: </td>
					<td data-id="type">  </td>
				</tr>
				<tr>
					<td>License Start Date: </td>
					<td data-id="startDate"> </td>
				</tr>
				<tr>
					<td>License End Date: </td>
					<td data-id="endDate"></td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>

