<h4 class="wrap-header bold">License Detail</h4>
<div class="wrap non-collapsible ">
	<!-- <div data-id="r_form"></div> -->
		<form class="form-horizontal">
			<div class="" data-fields="licenseKey">
				<div class="control-group field-licenseKey">
					<label class="control-label" for="licenseKey">Enter License
						Key *</label>
					<div class="controls">
						<span data-editor="">
							<textarea data-id="licenseKey" name="licenseKey" type="text" style=" width: 607px; height: 128px; "></textarea>
							</span>
						<div class="help-inline" data-error=""></div>
						<div class="help-block"></div>
				</div>
			</div>
		</form>
					</div>
	<div style="margin-left: 179px;">
		<button type="button" data-id="save" class="btn btn-primary">
			Save</button>
		<button type="button" data-id="cancel" class="btn btn-inverse">
			Cancel</button>
	</div>
	<br /> <br />
	<p>
		{{tt 'msg.invalidLicenseMsg'}}  
		<a href="mailto:sales@xasecure.com">sales@xasecure.com</a>
	</p>
</div>

