<form class="form-horizontal">
	<!-- <fieldset> -->
		<!-- <legend>
			User Profile
		</legend> -->
		<div class="" data-fields="firstName"></div>
		<div class="" data-fields="lastName"></div>
		<div class="" data-fields="emailAddress"></div>
		<div class="" data-fields="userRoleList"></div> 
		<div class="" data-fields="oldPassword"></div>
		<div class="" data-fields="newPassword"></div>
		<div class="" data-fields="reEnterPassword"></div>
	<!-- </fieldset> -->
	<!-- <fieldset>
		<legend>
			User and Group Permissions
		</legend>
		<div class="" data-customfields="groupPerms"></div>
		<div class="" data-customfields="userPerms"></div>
	</fieldset> -->
</form>



