<form class="form-horizontal" >
	<fieldset class="configProp">
		<p class="formHeader">
			{{tt 'lbl.repositoryDetails'}} :
		</p>
		<div class="" data-fields="name"></div>
		<div class="" data-fields="description"></div>
		<div class="" data-fields="activeStatus"></div>
		<div class="" data-fields="assetType"></div>
	</fieldset>
	<fieldset class="configProp">
		<p class="formHeader">
			Config Properties : 
		</p>
		<!-- div class="" data-fields="_vPassword"></div-->
		<div class="" data-fields="userName"></div>
		<div class="" data-fields="passwordKeytabfile"></div>
		<div class="" data-fields="fsDefaultName"></div>
		<div class="" data-fields="authorization"></div>
		<div class="" data-fields="authentication"></div>
		<div class="" data-fields="auth_to_local"></div>
		<div class="" data-fields="datanode"></div>
		<div class="" data-fields="namenode"></div>
		<div class="" data-fields="secNamenode"></div>
		<div class="" data-fields="driverClassName"></div>
		<div class="" data-fields="url"></div>
		<div class="" data-fields="masterKerberos"></div>
		<div class="" data-fields="rpcEngine"></div>
		<div class="" data-fields="rpcProtection"></div>
		<div class="" data-fields="securityAuthentication"></div>
		<div class="" data-fields="zookeeperProperty"></div>
		<div class="" data-fields="zookeeperQuorum"></div>
		<div class="" data-fields="zookeeperZnodeParent"></div>
		<div class="" data-fields="knoxUrl"></div>
		<div class="" data-fields="commonnameforcertificate"></div>
		<!-- div class="" data-fields="pair"></div-->
	</fieldset>
	<div>
		<div class="control-group field-username hdfs hive knox" style="display: block;">
			<label class="control-label" for="c12_username"></label>
			<div class="controls">
				<span data-editor="">
					<input data-id="testConn" type="button" value="Test Connection" class="btn" />
				</span>

			</div>
		</div>
	</div>

</form>

